<form action="/order/createres" method="post">
	<input type="text" name="name" placeholder="name">
	<input type="text" name="admin" placeholder="admin">
	<input type="text" name="address" placeholder="address">
	<input type="text" name="phoneno" placeholder="phoneno">
	<input type="submit">
</form>